.aboutDiv{
    height: 100vh;
    text-decoration: none;
    font-family: 'Advent Pro', sans-serif;
    text-align: initial;
    padding-top: 7rem;
}

.aboutLabel{
    font-family: 'Luckiest Guy', cursive;
    padding-left: 2.5rem;
    
}

.aboutText{
    padding: 1.1rem 2.5rem;
   
}


