#about{
    height: 90vh;
   
}

.aboutDiv{
    text-decoration: none;
    font-family: 'Advent Pro', sans-serif;
    text-align: initial;
    padding-top: 7rem;
}

.aboutLabel{
    font-family: 'Luckiest Guy', cursive;
    padding-left: 2.5rem;

}

.aboutTextDiv{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2px;
    padding: 0px 25px;
    text-align: center;
}

.aboutText{
    padding: 1rem 1.2rem;
    letter-spacing: .018em;
    font-size: x-large;
}


.soloPhotoDiv{
    margin-right: 3em;
}


.soloPhoto{
    width: 20rem;
    height: 20rem;
    border-radius: 170px;


}


@media (max-width: 768px){

#about {
    /* padding: 0px 0px; */
    height: 150vh;
}

.aboutDiv{
    padding-top: 0;
}

.aboutTextDiv{
    display:block;
}

}