
html{
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;

}

#root{
  scroll-behavior: smooth;
  text-align: center;
  color: white;
  background-color: #282c34;
  overflow-y: scroll;
}

.App {
  text-align: center;
  padding-top: 8rem;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


#navigation {
  background: linear-gradient(#1b2719, #343a408a);
  z-index: 1;
  width: 100vw;

}


#navigationSub{
  text-align: end;

}

.landing{
  height: 55vh;
  width: 90vw;
  display: inline-flex;
  margin-bottom: 20px;
}

.lHeader {
  font-family: 'Luckiest Guy', cursive;
  margin-left: auto;
  margin-right: auto;
}


.headerDiv{
  display: flex;
    justify-content: center;
}



#mabuhay{
  font-size: 55px;
  letter-spacing: 1px;
  text-align: center;
  padding: 3% 3%;
}


#name2{
  font-size: 115px;
  letter-spacing: 2px;
  text-align: center;
}


#tab1, #tab2, #tab3, #tab4{
  text-decoration: none;
  color: #bfff00;
  display: flex;
  justify-content: space-between;
}

.summary{
  padding-left: .5em;
  padding-right: .5em;
  font-family: 'Advent Pro', sans-serif;
  font-weight: 400;
  text-align: center;
}

#contactButton{
  margin-top: 20px;
}

#contact{
  font-family: 'Luckiest Guy', cursive;
  height: 35vh;
}

#contact svg{
  margin: 8px;
 
}

.icon {

  transform: scale(1);
  transition: all .25s;

}


.icon:hover, .icon:focus {
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
}

#footer{
  background-color: black;
  height: 35px;
  width: 100vw;
  /* position: absolute; */
  cursor:nw-resize;
  /* display: contents; */
}

#footText{
  font-family: 'Advent Pro', sans-serif;
  font-variant: petite-caps;
  color: darkturquoise;
}

/* 
#footer .tooltiptext {
  visibility: hidden;
  width: 35%;
  background-color: rgb(217, 236, 38);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
 display: flex;
  margin-left: -60px;
  z-index: 1;
}

#footer:hover .tooltiptext {
  visibility: visible;
} */


.logo{
  position: fixed;
  left: 19px;
  width: 45px;
  bottom: 14px;
}

.tooltip {
  display:inline-block;
  position:relative;
  border-bottom:1px dotted #666;
  text-align:left;
}




@media (max-width: 768px){

  .landing {
      height:90vh
  }

  .App{
    padding-top: 5rem;
  }

  #contact{
    height: 35vh;
  }

  .headerDiv{
    height: 8.5em;
  }

  .summary{
    font-size:1.8em;
  }

  #mabuhay{
    font-size: 2rem;
  }

  #name2{
    font-size: 5rem;
  }

}