#blog{
    height: 100vh;
    padding-top: 7em;
}

.blog{
    width: 90vw;
    margin-bottom: 5em;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    height: min-content;
    font-family: 'Advent Pro', sans-serif;
    font-size:18px;
}

.blogP{
    display: inline-block;
    font-family: 'Advent Pro', sans-serif;
    font-size: x-large;

}

.blogsHeader{
    margin-left: 3em;
    margin-bottom: 1em;
    width: 38vw;
    font-family: 'Luckiest Guy', cursive;
    padding-left: 0.5rem;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #caf002;
    letter-spacing: 2px;
    font-size: 2.5rem;
    text-align: initial;
}


.blogCard{
    width: 18rem;
    padding: 0.2em;
    margin: 10px 8px;
}

.blogCard h5{
    font-weight: 600;
}


.blogCard:hover, .blogCard:focus{
    transform: scale(1.05);
    transition: all .25s;
    cursor: nw-resize;
    box-shadow: 1px 1px 6px 4px rgb(32 201 178 / 71%);
}

.blogCard a{
    text-decoration: none;
    color:white;
    
}

.blogCard a:hover{
    color:greenyellow;
    text-decoration: none;
}



.card-body{
    padding:0.5rem 0.7rem 1rem 0.7rem!important;
}


.subtitle{
    display: flex;
    flex-direction: row;
    width: min-content;
    margin:auto;
    
}


.mb-1{
    margin: auto .2rem .2rem auto!important;
    font-size: 14px!important;


}

@media (max-width: 768px){

    .blog{
        width: 100vw;
        height: max-content;
        margin-bottom: 70px;
    }

    .blogsHeader{
        margin: auto auto 20px auto;
        text-align: center;
        font-size: 2.3rem;
    }

    .blogCard a{
        font-variant: petite-caps;
    }

    #blog{
        height: min-content;
        padding-top: 2em;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
    #blog{
        height: min-content;
        padding-top: 2em;
    }

}
