.expDiv{
    padding: 4rem 2rem;
    font-family: 'Advent Pro', sans-serif;
    height: 100vh;
}

.expHeader{
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 2px;
    font-size: 3rem;
    text-align: initial;
    padding-left: 5%;
}

.project{
    display: inline-block;
    padding-bottom: 20px;
    padding: 0px 15px 0px 15px;
}
/* .projectTitle, .projectInfo {
    color:white;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
} */

#expInfo{
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 1%;
    text-align: initial;
    font-size: 1.2em;
}



#info1, #info2, #info3, #info4{
    position: relative;
    display: block;
    padding: 0.15rem 1.25rem;
    border-bottom: 1px solid rgb(255 255 255 / 11%);
    color: greenyellow;
    background-color:#282c34;
    font-size: 90%;
}