.expDiv{
    padding: 7rem 2rem;
    margin-top: 7em;
    font-family: 'Advent Pro', sans-serif;
    height: 100vh;
    font-size: larger;
}

.expHeader{
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 2px;
    font-size: 3rem;
    text-align: initial;
    padding-left: 5%;
}

.project{
    display: inline-block;
    padding-bottom: 20px;
    padding: 0px 15px 0px 15px;
}

.expInfoHeader{
    font-family: 'Luckiest Guy', cursive;
    
}


#expInfo{
    width: 85vw;
    margin: 5% 5% 5% 7%;
    text-align: initial;    
    font-size: 25px;
}

#companyPills{
    padding-top:0rem;
}
/* #expInfoText{
   
} */


#info1, #info2, #info3, #info4, #info1a, #info2a, #info3a, #info4a, #info5a, #info1b, #info2b, #info3b, #info4b, #info5b, #info1c, #info2c, #info3c, #info4c {
    position: relative;
    display: flex;
    padding: 0.15rem 1rem;
    border-bottom: 1px solid rgb(255 255 255 / 11%);
    color: greenyellow;
    background-color:#282c34;
    font-size: 90%;

}


@media (max-width: 768px){

    #experience{
        height: 110vh;;
    }
  
    #companyPills{
        font-size: larger;
    }

    #expRows{
        gap: 16px;
    }

    #expInfo{
        width:100%;
        margin: 0;
    }
  
    .expInfoHeader{
        font-size: larger;
    }

    #expInfoText{
        padding-left: 0px;
        padding-right: 0px;
    }

    #tab-content{
        width: 81vw;
    }


    #info1, #info2, #info3, #info4, #info1a, #info2a, #info3a, #info4a, #info5a, #info1b, #info2b, #info3b, #info4b, #info5b, #info1c, #info2c, #info3c, #info4c {
        padding: 0.15rem 0rem;
    }
  }

