#projects{
    height: 75vh;
}

.projectDiv{
    padding: 7rem 1rem;
    font-family: 'Advent Pro', sans-serif;

}

.projectHeader{
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 2px;
    font-size: 2.5rem;
    text-align: initial;
    padding-left: 2.5rem;
}

.projectSubDiv{
    margin-top: 2em;
    display: inline-flex;
}

.project{
    display: inline-block;
    padding-bottom: 20px;
    padding: 0px 15px 0px 15px;
}
.projectTitle, .projectInfo {
    color:white;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    /* font-size: 20px; */
}

#info{
    margin: 10px auto 10px auto;
}


#pic{
    border-radius: 20em;
    width: 15em;
    padding-bottom: 7px;
    padding-top: 15px;
}

@media (max-width: 768px){

    .projectSubDiv{
        display: grid;
        /* grid-template-columns: 1fr 1fr; */
        gap: 2px;
        text-align: center;
    }

    #projects{
        height:120vh;
    }

    #pic{
        width: 12em;
    }

    #info{
        font-size: larger;
        font-variant: petite-caps;
    }

    #companyPills{
        font-variant: petite-caps;
    line-height: 15px;
    font-weight: 700;
    margin-bottom: 2rem;
    }

}