.projectDiv{
    padding: 10%;

}

.projectHeader{
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 2px;
}

.project{
    display: inline-block;
}

#pic{
    border-radius: 20em;
    width:23em;
}